<<<<<<< HEAD
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,
body
{
    height: 100vw;
    background-color: lightyellow;
}
.page-wrapper
{
    min-height: 100%;
}

.header
{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}
.header a
{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 10px;
    border-radius: 4px;
}
.header a:hover 
{
    background-color: #ddd;
    color: black;
}
.header a.active 
{
    background-color: dodgerblue;
    color: white;
}
.footer .main-content
{
    width: 100%;
    display: flex;
    min-height: 100%;
}
.footer
{
    width: 100%;
    display: block;
    background-color: #18181a;
    overflow: hidden;
    height: 200px;
    color: white;
}
.footer .footer-bottom
{
    background-color:#343a40;
    height: 5px;
    width: 100%;
    color: grey;
    text-align: center;
    position: absolute;
    padding: 15px 0 20px 0;
}
.footer .left
{
    width: 33.33%;
    text-align: center;
}
.footer .left a
{
    color:#66ffff;
}
.footer .middle
{
    width: 33.33%;
    text-align: center;
}
.footer .right
{
    width: 33.33%;
    text-align: center;
}
=======
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,
body
{
    height: 100vw;
    background-color: lightyellow;
}
.page-wrapper
{
    min-height: 100%;
}

.header
{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}
.header a
{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 10px;
    border-radius: 4px;
}
.header a:hover 
{
    background-color: #ddd;
    color: black;
}
.header a.active 
{
    background-color: dodgerblue;
    color: white;
}
.footer .main-content
{
    width: 100%;
    display: flex;
    min-height: 100%;
}
.footer
{
    width: 100%;
    display: block;
    background-color: #18181a;
    overflow: hidden;
    height: 200px;
    color: white;
}
.footer .footer-bottom
{
    background-color:#343a40;
    height: 5px;
    width: 100%;
    color: grey;
    text-align: center;
    position: absolute;
    padding: 15px 0 20px 0;
}
.footer .left
{
    width: 33.33%;
    text-align: center;
}
.footer .left a
{
    color:#66ffff;
}
.footer .middle
{
    width: 33.33%;
    text-align: center;
}
.footer .right
{
    width: 33.33%;
    text-align: center;
}
>>>>>>> new-branch
