body{
          background-color: lightyellow;
}
#HOME{
    font-size: 2rem;
    font-style: italic;
    color: maroon;
    
}
#Article{
    font-size: 2rem;
    font-style: italic;
    color: purple;
    
}
#BOOK{
    font-size: 2rem;
    font-style: italic;
    color: tomato;
    
} 
#WISHLIST{
    font-size: 2rem;
    font-style: italic;
    color: olive;
    
}    
#spaces{
    color: lightyellow;
}
h1{
    color: coral;
}
#book_name{
    font-size: 1.1rem;
    font-weight: lighter;
    color: lightcoral;
}